/.config

# Build results
bin/
obj/
*.pdb
*.dll
*.cache
*.txts
[Dd]ebug/
[Rr]elease/
[Bb]uild/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet packages
packages/
*.nupkg

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db


